.wrapper {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
    height: 200px;
    width: 300px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.dark-mode {
    background-color: black;
    i {
        color: white;
    }
}

i {
    font-size: 60px;
}