.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    background-color: #333;
}

.btn_style {
    width: 100px;
    height: 30px;
    padding-top: 10px;
    display: inline-block;
    border-radius: 10%;
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-weight: 600;
    text-decoration: none;
}